@import url('variables.css');

body {
    font-family: 'Arial, sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
}

